<br/>
<br/>

<form name="form" novalidate json-schema="main.schema" json-schema-model="main._data">
  <form-template latest tmpls="'form.tmpl'"></form-template>
</form>
<div ng-include="'list.tmpl'"></div>